@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}


:root {
    --color1: #830000;
    --color2: #c41c1c;
    --color3: rgb(39, 37, 37);
}
.first-container {
    background: url("background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.first-container .menu{
    display: flex;
    color: white;
    font-size: 1.1em;
    height: 130px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
} 

.first-container .menu img {
    display: block;
    width: 150px;
}

.first-container .menu nav ul {
    list-style: none;
    display: flex;
}

.first-container .menu nav ul li a {
    text-decoration: none;
    color: white;
}


.first-container .menu nav ul li{
    padding: 10px;
}

.first-container .menu .social-medias ul {
    list-style: none;
    display: flex;
}

.first-container .menu .social-medias ul li {
    padding: 5px;
    font-size: 1.8em;
    margin: 0px 5px;
}

.first-container .menu .social-medias ul li a {
    color: white;
}

.first-container .menu nav.nav-bar ul li {
    margin: 5px;
}

.first-container .menu nav.nav-bar ul li.inicio {
    background: var(--color1);
    border-radius: 20px;
}

.first-container .menu nav.nav-bar ul li:hover {
    background-color: var(--color1);
    border-radius: 20px;
}

.first-container .menu .social-medias ul li i {
    background-color: var(--color1);
    padding: 5px;
    border-radius: 10px;
    width: 30px;
}

.first-container .menu .social-medias ul li i:hover {
    background-color: var(--color2);
    cursor: pointer;
}

/*SUB-CONTAINER DO PRIMEIRO CONTAINER*/

div.sub-container{
    display: flex;
}

div.sub-container div.first-sub {
    display: block;
    width: 50%;
    text-align: center;
}

div.sub-container div.second-sub {
    display: block;
    width: 50%;
    text-align: center;
    padding: 15px;
}
     
div.sub-container div.first-sub img {
    width: 600px;
    transform: rotate(8deg);
}

div.sub-container div.second-sub h1 {
    font-size: 6em;
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

div.sub-container div.second-sub h1.pizza {
    color: var(--color1);
}

div.sub-container div.second-sub button {
    padding: 15px;
    background-color: var(--color1);
    border: none;
    color: white;
    font-size: 1.5em;
    border-radius: 30px;
    cursor: pointer;
}

div.sub-container div.second-sub button:hover {
    background-color: var(--color2);
}

/* segundo container */
div.second-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, var(--color3) 50%, white 50%);
    width: 100%;
    flex-wrap: wrap;
}

div.second-container div.sub-container {
    display: flex;
    text-align: center;
    margin: 10px;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 30px 56.1276px rgba(55, 55, 55, 0.295);
    cursor: pointer;
    transition: 0.5s;
}

div.second-container div.sub-container:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

div.second-container div.sub-container h1 {
    padding: 10px;
    font-size: 24px;
}

div.second-container div img {
    color: white;
    width: 100px;
    height: 100px;
}

div.second-container div.sub-container div.circle{
    background-color: var(--color1);
    width: 120px;
    height: 120px;
    padding: 10px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

div.second-container div.sub-container div.circle:hover {
    background-color: var(--color2);
}

/*Terceiro Container*/

div.third-container {
    background: url("background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    padding: 7px;
}

div.third-container fieldset {
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 5px;
}

div.third-container h1.main {
    margin: 10px auto;
    color: white;
    padding: 3px;
    font-size: 1.8em;
    background-color: var(--color1);
    width: 300px;
    border-radius: 20px 0px;
}

div.third-container div.third-sub-container div.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 30px 56.1276px rgba(55, 55, 55, 0.236);
}

div.third-container div.third-sub-container div.first-sub-block {
    overflow: hidden;
    width: 200px;
    margin: auto;
    cursor: pointer;
}

div.third-container div.third-sub-container div.first-sub-block img:hover {
    transform: rotate(360deg);
}

div.third-container div.third-sub-container div.second-sub-block {
    font-size: 15px;
}

div.third-container div.third-sub-container div.second-sub-block h1 {
    font-size: 22px;
    margin: 8px;
    color: rgb(20, 20, 20);
}

div.third-container div.third-sub-container div.block button {
    padding: 10px;
    background-color: #830000;
    border: none;
    width: 50%;
    color: white;
    font-size: 1.3em;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

div.third-container div.third-sub-container div.block button a {
    color: white;
}

div.third-container div.third-sub-container div.block button:hover {
    background-color: #c41c1c;
}

div.third-container div.third-sub-container div div.img-block {
    width: 200px;
    overflow: hidden;
}

div.third-container div.third-sub-container div img {
    transition: 0.5s;
    width: 100%;
}

div.third-container div.third-sub-container div div.img-block img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


div.third-container div.third-sub-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

/*Quarto Container*/
div.fourth-container {
    display: flex;
    background: linear-gradient(to left, var(--color1) 60%, white 40%);
    margin: 12px 0px;
    flex-wrap: wrap;
    justify-content: center;
}

div.fourth-container div.sub {
    width: 370px;
    height: 260px;
    background-color: white;
    margin: 20px;
    padding: 12px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 30px 56.1276px rgba(55, 55, 55, 0.247);
}

div.fourth-container div.sub p {
    font-style: italic;
    font-size: 1.2em;
}


div.fourth-container div.sub i.fa-solid.fa-star,i.fa-regular.fa-star{
    font-size: 20px;
    color: rgb(165, 29, 29);
}

div.fourth-container h1 {
    margin: 15px;
}

div.fourth-container h1.after {
    content: '';
    background-color: var(--color1);
    display: block;
}

div.fourth-container p {
    margin: 20px;
    font-size: 1.2em;
}

div.fourth-container p i {
    color: rgb(165, 29, 29);
    font-size: 32px;
    margin: 15px;
}

/* Quinto Container */

div.location-box {
    margin: 5px 0px;
}

div.location-box div.first-sub {
    text-align: center;
    width: 50%;
    color: white;
    padding: 10px;
}

div.location-box fieldset div.second-sub iframe {
    box-shadow: 5px 30px 56.1276px rgba(55, 55, 55, 0.247);
}

div.location-box div.first-sub h1 {
    margin: 25px 10px;
}

div.location-box div.first-sub p {
    margin: auto;
    font-size: 20px;
}

div.location-box div.first-sub button {
    padding: 15px;
    background-color: var(--color1);
    border: none;
    color: white;
    font-size: 1.5em;
    margin-top: 35px;
    border-radius: 30px;
    cursor: pointer;
}

div.location-box div.first-sub button:hover {
    background-color: var(--color2);
}

div.location-box fieldset{
    display: flex;
    background: linear-gradient(to right, rgb(18 18 18) 60%, white 40%);
    border: 1px solid white;
}

div.location-box fieldset legend {
    margin: auto;
}

div.location-box fieldset legend h1 {
    margin: 10px 0px;
    color: white;
    padding: 3px;
    font-size: 1.8em;
    background-color: var(--color1);
    width: 300px;
    border-radius: 20px 0px;
    text-align: center;
}

div.location-box div.first-sub  div.second-sub {
    width: 50%;
}

/*Sexto Container*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    color: white;
    margin-top: 10px;
}

div.footer footer div ul.website-map a{
    color: white;
} 

footer ul {
    list-style: none
}
footer img {
    width: 160px;
    margin: 10px;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    margin: 20px;
}


footer div ul.social-media{
    display: flex;
}

footer div ul.social-media li {
    font-size: 30px;
}

footer div ul.social-media li a {
    color: white;
}

footer div ul li {
    margin: 5px;
}

footer div p {
    margin: 4px 0px;
}

footer div p.phone-number {
    font-size: 1.4em;
}

footer div span {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: red;
}

div.footer section {
    background-color: rgb(17, 17, 17);
    text-align: center;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.459);
    padding: 20px;
}

div.footer section a {
    cursor: pointer;
    text-decoration: none;
    color: red;
}

@media only screen and (max-width:1100px) {
    /*primeiro container*/
    .first-container .menu {
        display: block;
        height: 80px;
    }

    .first-container .menu img {
        margin: auto;
    }

    .first-container .menu nav.nav-bar {
        background-color: rgb(41 40 40 / 77%);
        height: 0;
        transition: 0.5s;
        position: absolute;
        width: 100%;
        backdrop-filter: blur(10px);
    }

    .first-container .menu nav.nav-bar ul {
        display: block;
        width: fit-content;
        list-style: none;
        transition: 0.5s;
        margin: 80px auto 0 auto;
        opacity: 0;
        text-align: center;
    }

    .first-container .menu nav.nav-bar ul li {
        margin-bottom: 10px;
    }

    .first-container .menu nav.nav-bar ul li:hover {
        background: var(--color1);
        border-radius: 20px;
    }

    .first-container .menu nav.nav-bar ul li.inicio {
        background: var(--color1);
        border-radius: 20px;
    }

    .first-container .menu p , .social-medias {
        display: none;
    }

    .first-container .menu .hamburguer {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .first-container .menu .hamburguer .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    /*configurações javascript */

    .first-container .menu .nav-bar.active {
        height: 450px;
    }

    .first-container .menu .nav-bar.active ul{
        opacity: 100%;
    }

    /*sub-container primeiro container*/
    .first-container div.sub-container {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .first-container div.sub-container .second-sub {
        width: 100%;
    }

    .first-container div.sub-container .second-sub h1 {
        font-size: 5em;
    }

    div.sub-container div.first-sub {
        display: none;
    }

    /*terceiro container*/
    div.third-container div.third-sub-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*Quinto Container*/
    div.location-box fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: url("background-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5px;
    }

    div.location-box fieldset div.second-sub iframe{
        width: 400px;
        border-radius: 15px;
    }
    
    /*Footer*/

    div.footer footer{
        display: flex;
        flex-wrap: wrap;
    }
}